table {
  width: 100%;
  font-family: inherit;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

th {
  font-weight: 300;
}

th,
td {
  border: solid 2px #f8f9fb;
  padding: 6px 8px;
}

tr:hover {
  background-color: rgba(156, 186, 250, 0.146);
}

thead {
  background-color: #f8f9fb;
}

.price,
.quantity,
.value {
  text-align: right;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: rgb(60, 118, 244);
}

/* Pagination */

.paginationContainer {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-top: 20px;
}

.pageLinks {
  border: solid 2px #f8f9fb;
  border-radius: 20px;
  padding: 4px 18px;
}

.pageLinks:hover {
  background-color: rgb(60, 118, 244);
  border-color: rgb(60, 118, 244);
  color: white;
}

.activePage {
  background-color: rgb(60, 118, 244);
  border-color: rgb(60, 118, 244);
  color: white;
}

.next,
.prev {
  border-radius: 20px;
  padding: 3px 14px;
}

.next:hover,
.prev:hover {
  background-color: rgb(60, 118, 244);
  color: white;
}
